<!-- Navigation Component -->
<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      <img src="../assets/images/logo.jpg" alt="Yi Pune Logo" class="navbar-logo-img">
      <span class="navbar-logo-text">Yi Pune</span>
    </a>
    
    <button class="navbar-toggle" aria-label="Toggle navigation">
      <span class="navbar-toggle-bar"></span>
      <span class="navbar-toggle-bar"></span>
      <span class="navbar-toggle-bar"></span>
    </button>
    
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a href="/" class="navbar-link">Home</a>
      </li>
      
      <li class="navbar-item navbar-dropdown">
        <a href="#" class="navbar-link">About Us</a>
        <ul class="navbar-dropdown-content">
          <li class="navbar-dropdown-item">
            <a href="/pages/who-we-are.html" class="navbar-dropdown-link">Who We Are</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/leadership.html" class="navbar-dropdown-link">Leadership</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/past-leadership.html" class="navbar-dropdown-link">Past Leadership</a>
          </li>
          <li class="navbar-dropdown-item" style="display: none;">
            <a href="/pages/our-journey.html" class="navbar-dropdown-link">Our Journey</a>
          </li>
        </ul>
      </li>
      
      <li class="navbar-item navbar-dropdown">
        <a href="#" class="navbar-link">Verticals</a>
        <ul class="navbar-dropdown-content">
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-rural-initiatives.html" class="navbar-dropdown-link">Rural Initiatives</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-health-environment.html" class="navbar-dropdown-link">Health & Environment</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-innovation.html" class="navbar-dropdown-link">Innovation</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-leadership.html" class="navbar-dropdown-link">Leadership Development</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-nation-building.html" class="navbar-dropdown-link">Nation Building</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-youth-affairs.html" class="navbar-dropdown-link">Youth Affairs</a>
          </li>
          <li class="navbar-dropdown-item">
            <a href="/pages/vertical-social-impact.html" class="navbar-dropdown-link">Social Impact Projects</a>
          </li>
        </ul>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/events.html" class="navbar-link">Events</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/membership.html" class="navbar-link">Membership</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/yi-yuva.html" class="navbar-link">Yi Yuva</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/impact-stories.html" class="navbar-link">Impact & Stories</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/media-gallery.html" class="navbar-link">Media & Gallery</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/partners.html" class="navbar-link">Partners</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/blog.html" class="navbar-link">Blog</a>
      </li>
      
      <li class="navbar-item">
        <a href="/pages/contact.html" class="navbar-link">Contact</a>
      </li>
      
      <li class="navbar-item navbar-cta">
        <a href="/pages/membership.html" class="btn btn-primary btn-sm">Join Yi Pune</a>
      </li>
    </ul>
  </div>
</nav>
